body {
	margin: 0;
	background: white;
	color: black;
}

.frame-table, .frame-table td, .frame-table tr {
	border-spacing: 0;
	padding: 0;
}

.frame-table {
	width: 100%;
	min-height: 100%;
	/* firefox */
	height: 100%;
}

.frame-nav {
	vertical-align: top;
	background: #f0f0f0;
}

.frame-logo {
	background: black;
	color: white;
	vertical-align: middle;
}

.frame-body {
	width: 100%;
	vertical-align: top;
	min-height: 100%;
	/* firefox */
	height: 100%;
}

.frame-right-body {
	padding-bottom: 4em;
	padding-left: 1em;
	padding-top: 1em;
	padding-right: 1em;
}

.logo-panel {
	padding-left: 8pt;
}

.logo {
	min-width: 8em;
	text-align: center;
	margin: 0;
}

.nav-panel {
	padding-right: 2em;
}

.action-bar {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	background: #f0f0f0;
}

.action-bar li {
	display: block;
	padding-right: 1em;
}

.action-bar-title {
	flex-grow: 1;
}

.action-bar-title h1 {
	padding-right: 1em;
	margin: 0;
}

.editor2pane {
	display: flex;
	flex-direction: row;
}

.editor2pane div {
	padding-right: 1em;
}

pre {
	tab-size: 4;
	padding: 0.5em;
	background: #f0f0f0;
	color: black;
	margin: 0;
	text-wrap-mode: wrap;
}

code {
	tab-size: 4;
	padding: 0.25em;
	background: #f0f0f0;
	color: black;
}

pre code {
	background: none;
}

textarea {
	tab-size: 4;
}

.code-string {
	color: red;
}

.code-comment {
	color: green;
}

.code-block-comment {
	color: green;
	font-family: serif;
	white-space: normal;
}

a, a:visited, a:hover, a:active {
	color: blue;
}

@media print {
	.frame-logo {
		display: none;
	}
	.action-bar .action-bar-action {
		display: none;
	}
	.frame-nav {
		display: none;
	}
	.frame-right-body {
		padding-bottom: 0em;
		padding-left: 0em;
		padding-right: 0em;
	}
}
