graph.dot
graph.svg
*.com
unpack-dir/*
anchor-dir/*
wiki.sum
static.tar
static-dir/*
anchor.tar
release.zip
# this is a bit odd but we don't want the wiki .gitignore interfering
# with user contents
wiki/chaff_*
