body {
	margin: 0;
	background: white;
	color: black;
}

.frame-table, .frame-table td, .frame-table tr {
	border-spacing: 0;
	padding: 0;
}

.frame-left {
	vertical-align: top;
	background: #f0f0f0;
}

.frame-right {
	vertical-align: top;
}

.frame-right-body {
	padding-bottom: 4em;
	padding-left: 1em;
	padding-top: 1em;
	padding-right: 1em;
}

.logo-panel {
	background: black;
	color: white;
	padding-left: 8pt;
	padding-top: 1px;
	padding-bottom: 1px;
}

.logo {
	min-width: 8em;
	text-align: center;
}

.nav-panel {
	padding-right: 2em;
}

.action-bar {
	padding-top: 1px;
	padding-bottom: 1px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	background: #f0f0f0;
}

.action-bar li {
	display: block;
	padding-right: 0.5em;
}

.action-bar li h1 {
	padding-right: 1em;
}

.editor2pane {
	display: flex;
	flex-direction: row;
}

.editor2pane div {
	padding-right: 1em;
}

pre {
	tab-size: 4;
	padding: 0.5em;
	background: #f0f0f0;
	color: black;
	margin: 0;
}

code {
	tab-size: 4;
	padding: 0.25em;
	background: #f0f0f0;
	color: black;
}

textarea {
	tab-size: 4;
}

.code-string {
	color: red;
}

.code-comment {
	color: green;
}

a, a:visited, a:hover, a:active {
	color: blue;
}
